<div id="pf2e-export-scribe-dialog">
    <div style="height: 200px">
        <div><input type="checkbox" id="pf2e-export-scribe-include-ancestry" checked /> <label for="pf2e-export-scribe-include-ancestry">Include Ancestry</label></div>
        <div><input type="checkbox" id="pf2e-export-scribe-include-ancestry-features" checked /> <label for="pf2e-export-scribe-include-ancestry-features">Include Ancestry Features</label></div>
        <div><input type="checkbox" id="pf2e-export-scribe-include-background" checked /> <label for="pf2e-export-scribe-include-background">Include Background</label></div>
        <div><input type="checkbox" id="pf2e-export-scribe-include-class" checked /> <label for="pf2e-export-scribe-include-class">Include Class</label></div>
        <div><input type="checkbox" id="pf2e-export-scribe-include-class-features" checked /> <label for="pf2e-export-scribe-include-class-features">Include Class Features</label></div>
        <div><input type="checkbox" id="pf2e-export-scribe-include-feats" checked /> <label for="pf2e-export-scribe-include-feats">Include Feats</label></div>
        <div><input type="checkbox" id="pf2e-export-scribe-include-spells" checked /> <label for="pf2e-export-scribe-include-spells">Include Spells</label></div>
        <div><input type="checkbox" id="pf2e-export-scribe-include-formulas" checked /> <label for="pf2e-export-scribe-include-formulas">Include Formulas</label></div>
        <div style="height: 20%;">Copy/Paste this content into <a href="https://scribe.pf2.tools/" target="_blank">https://scribe.pf2.tools/</a></div>
        <div style="display: none;">
            <textarea id="pf2e-export-scribe-content-ancestry">{{ ancestry }}</textarea>
            <textarea id="pf2e-export-scribe-content-ancestry-features">{{ ancestry_features }}</textarea>
            <textarea id="pf2e-export-scribe-content-class">{{ classes }}</textarea>
            <textarea id="pf2e-export-scribe-content-background">{{ background }}</textarea>
            <textarea id="pf2e-export-scribe-content-class-features">{{ class_features }}</textarea>
            <textarea id="pf2e-export-scribe-content-feats">{{ feats }}</textarea>
            <textarea id="pf2e-export-scribe-content-spells">{{ spells }}</textarea>
            <textarea id="pf2e-export-scribe-content-formulas">{{ formulas }}</textarea>
        </div>
    </div>
    <div style="height: calc(100% - 200px);">
        <textarea id="pf2e-export-scribe-features" style="height: 100%"></textarea>
    </div>
    <button id="pf2e-export-scribe-clipboard">
        <i class="fas fa-clipboard"></i>
    </button>
</div>